@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

 h1, h2, p, a, div, article, nav {
    margin: 0;
    padding: 0;
}

:root {
    --menu-color: #000000; 
    --menu-hover-color: #79a207; 
    --h1-color: #faf5f2; 
    --contact-form-color: #faf5f2; 
    --background-color: #6685BA; 
    --about-us-h-color: #79a207; 
    --serv-border-color: #79a207; 
    scroll-behavior: smooth;
}

body {
    max-width: 1100px;
    margin: auto;
}

nav {
    padding: 30px 15px 30px 15px;
}

.socials {
    padding: -20px -10px -10px 0;
}

.socials img {
    height: 30px;
    width: 30px;
}

#burger-checkbox {
    display: none;
}

.burger-menu-icon {
    font-size: 2rem;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

.menu a {
    font-family: "Lora", sans-serif;
    color: var(--menu-color);
    text-decoration: none;
    border: 1px solid transparent;
    display: block;
    padding: 3px;
}

.menu a:hover {
    font-weight: bold;
    color: var(--menu-hover-color);
}

.selected {
    font-weight: bold;
}

@media(min-width: 530px) {
    header nav {
        display: flex;
    }

    header nav input:checked ~ .menu {
        display: flex;
    }

    .burger-menu-icon {
        display: none;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: flex-start;
    }
}

#banner {
    font-family: "Lora", serif;
    color: var(--h1-color);
    background-image: url(../img/main-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-blend-mode: multiply ;
    background-color: var(--background-color);
}

h1 {
    font-size: 74px;
    color: var(--h1-color);
}

#banner p {
    font-size: 42px;
}

.about-us {
    font-family: "Source Sans Pro", sans-serif;
    padding: 30px 0px 65px 0px;
}

.about-us-header {
    font-size: 36px;
    color: var(--about-us-h-color);
}

.about-us-subheader {
    font-size: 24px;
    color: #0d3c00;
}

.about-us-text {
    font-size: 17px;
    color: #707070;
}

.about-us-img {
    width: 670px;
    height: 510px;
}

.our-services {
    background-color: #FAF0E6;
    padding: 20px 0px 130px 0px;
    text-align: center;
}

.our-services-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #0d3c00;
}

.our-services-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #191c18;
}

.service-list {
    background-color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    border-style: solid hidden hidden hidden;
    border-color: var(--serv-border-color) #ffffff #ffffff #ffffff;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #191c18;
}

.header-services {
    font-size: 36px;
    color: #0d3c00;
}

.text-services {
    font-size: 17px;
    color: #707070;
}

.order-button {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #6B8E23;
    border: 1px hidden;
    width: 170px;
    height: 43px;
    border-radius: 30px;
}

#mediateca {
    padding: 30px 0px 60px 0px;
    text-align: center;
}

.mediateca-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #191c18;
}

.mediateca-about {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #191c18;
}

.learning {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #0d3c00;
}

.mediateca-subheader {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: #0d3c00;
}

.m-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    color: #707070;
}

.img-mediateca {
    width: 382px;
    height: 521px;
}

#test {
    padding: 100px 0px 100px 0px;
    background-color: #202020;
}

.test-header {
    font-family: "Lora", serif;
    font-size: 42px;
    text-align: left;
    color: #ffffff;
}

.test-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
}

.test-button {
    background-color: #6B8E23;
    font-family: "Source Sans Pro", bold;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    border: 1px hidden;
    width: 160px;
    height: 55px;
    border-radius: 30px;
}

.test-img-big {
    width: 251px;
    height: 251px;
}

.test-img-small {
    width: 204px;
    height: 123px;
}

#contacts {
    padding: 100px 0px 100px 0px;
    text-align: left;
}

.contacts-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: #191c18;
}

.contacts-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: #191c18;
}

.contacts-data {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #707070;
}

.contacts-form {
    background-color: #faf5f2;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #707070;
}

.footer-menu {
    font-family: "Lora", sans-serif;
    color: #000000;
    background-color: #0d3c00;
    height: 117px;
}