@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

 h1, h2, p, a, div, article, nav, section {
    margin: 0;
    padding: 0;
}

:root {
    --menu-color: #000000; 
    --menu-hover-color: #79a207; 
    --h1-color: #faf5f2; 
    --contact-form-color: #faf5f2; 
    --background-color: #6685BA; 
    --about-us-h-color: #79a207; 
    --serv-border-color: #79a207; 
    --subheader-color: #0d3c00;
    --header-sev-color: #0d3c00;
    --learning-text-color: #0d3c00;
    --footer-back-color: #0d3c00;
    --main-text-color: #707070;
    --our-srv-back-color: #FAF0E6;
    --service-text-color: #191c18;
    --mediateca-main-color: #191c18;
    --contacts-text-color:#191c18;
    --serv-back-color: #ffffff;
    --order-button-color: #ffffff;
    --test-text-color: #ffffff;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

nav {
    padding: 30px 15px 30px 15px;
}

.socials {
    padding: -20px -10px -10px 0;
}

.socials img {
    height: 30px;
    width: 30px;
}

#burger-checkbox {
    display: none;
}

.burger-menu-icon {
    font-size: 2rem;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

.menu a {
    font-family: "Lora", sans-serif;
    color: var(--menu-color);
    text-decoration: none;
    border: 1px solid transparent;
    display: block;
    padding: 3px;
}

.menu a:hover {
    font-weight: bold;
    color: var(--menu-hover-color);
}

.selected {
    font-weight: bold;
}

@media(min-width: 530px) {
    header nav {
        display: flex;
    }

    header nav input:checked ~ .menu {
        display: flex;
    }

    .burger-menu-icon {
        display: none;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: flex-start;
    }
}

#banner {
    font-family: "Lora", serif;
    color: var(--h1-color);
    background-image: url(../img/main-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-blend-mode: multiply ;
    background-color: var(--background-color);
}

h1 {
    font-size: 74px;
    color: var(--h1-color);
    padding-left: 30px;
}

#banner p {
    font-size: 42px;
    padding-left: 30px;
}

#about-us {
    font-family: "Source Sans Pro", sans-serif;
    padding: 130px 10px 65px 20px;
    border: 1px solid transparent;
}

.about-us-header {
    font-size: 36px;
    color: var(--about-us-h-color);
    display: flex;
    justify-content: flex-start;
}

.about-us-subheader {
    font-size: 24px;
    color: var(--subheader-color);
    font-weight: 900;
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
}

.about-us-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--main-text-color);
    padding: 0 0 30px 0;
    display: flex;
    justify-content: flex-start;
}

.about-us-img {
    width: 100%;
    margin: auto;
    display: block;
}

@media(min-width: 850px) {
    #about-us {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
    }

    .about-us-header {
        grid-column: 1;
        grid-row: 1;
    }

    .about-us-subheader {
        grid-column: 1;
        grid-row: 2;
    }

    .about-us-text {
        grid-column: 1;
        grid-row: 3;
    }

    .about-us-img {
        grid-column: 2;
        grid-row: 1 / span 3;
        justify-self: start;
    }
}

#our-services {
    background-color: var(--our-srv-back-color);
    padding: 0 24px 0 24px;
    padding-bottom: 50px;
}

.our-services-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: var(--subheader-color);
    display: flex;
    justify-content: center;
}

.our-services-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: var(--service-text-color);
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.services {
    background-color: var(--serv-back-color);
    font-family: "Source Sans Pro", sans-serif;
    border-style: solid hidden hidden hidden;
    border-color: var(--serv-border-color) var(--serv-back-color) var(--serv-back-color) var(--serv-back-color);
    border-radius: 4px;
    margin-top: 50px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: var(--service-text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.header-services {
    font-size: 36px;
    color: var(--header-sev-color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.text-services {
    font-size: 17px;
    text-align: center;
    color: var(--main-text-color);
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.order-button {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--order-button-color);
    background-color: #6B8E23;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px hidden;
    width: 170px;
    height: 43px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media (min-width: 780px) {
    .service-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media (min-width: 900px) {
    .service-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

#mediateca {
    padding: 30px 24px 60px 24px;
}

#mediateca h2 {
    font-family: "Lora", serif;
    font-size: 42px;
    padding: 10px 0 10px 0;
    color: var( --mediateca-main-color);
    display: flex;
    justify-content: center;
}

.mediateca-about {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    text-align: center;
    color: var( --mediateca-main-color);
    padding: 10px 0 10px 0 ;
    display: flex;
    justify-content: center;
}

.learning-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: var(--learning-text-color);
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.learn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mediateca-subheader {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: var(--subheader-color);
    display: flex;
    justify-content: flex-start;
}

.m-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    color: var(--main-text-color);
    padding: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.img-mediateca {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: auto;
    display: block;
}

@media (min-width: 770px) {
    .lection-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media (min-width: 990px) {
    .lection-section {
        grid-template-columns: repeat(3, 1fr);
        
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

#test {
    padding: 90px 40px 90px 40px;
    background-color: #202020;
    border: 1px solid transparent;
}

.test-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: var(--test-text-color);
    display: flex;
    justify-content: flex-start;
}

.test-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--test-text-color);
    padding: 20px 0 20px 0;
    margin-bottom: 20px: ;
    display: flex;
    justify-content: flex-start;
}

.test-button {
    background-color: #6B8E23;
    font-family: "Source Sans Pro", bold;
    font-size: 13px;
    color: var( --test-text-color);
    text-align: center;
    border: 1px hidden;
    width: 160px;
    height: 55px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    justify-self: start;
    align-items: center;
}

.test-img {
    width: 100%;
    margin: auto;
    display: block;
}

@media (min-width: 700px) {
    #test {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
    }

    .test-header {
        grid-column: 1;
        grid-row: 1;
    }

    .test-text {
        grid-column: 1;
        grid-row: 2;
    }

    .test-button {
        grid-column: 1;
        grid-row: 3;
    }

    .test-img {
        grid-column: 2;
        grid-row: 1 / span 3;
        justify-self: start;
    }
}

#contacts {
    padding: 100px 0px 100px 0px;
    text-align: left;
}

.contacts-header {
    font-family: "Lora", serif;
    font-size: 42px;
    color: var(--contacts-text-color);
}

.contacts-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: var(--contacts-text-color);
}

.contacts-data {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
}

.contacts-form {
    background-color: var(--contact-form-color);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
}

.footer-menu {
    font-family: "Lora", sans-serif;
    color: var(--menu-color);
    background-color: var(--footer-back-color);
    height: 117px;
}